################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2DRacingGame/v15/Browse.VC.db
/.vs/2DRacingGame/v15/Browse.VC.opendb
